# Clacky configuration
.1024*
!.1024
.breakpoints

# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Build/distributable directories
dist/
build/
out/

# Cache directories
.npm
.eslintcache
.sass-cache/
.cache/

# Coverage directories
coverage/
.nyc_output